<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

    <suite name="Regression suite" thread-count="5"
           parallel="tests" verbose="4">

        <listeners>
            <listener
                    class-name="com.dev.webautomation.listeners.ExtentReportListener" />
        </listeners>

        <test name="Register and Login Tests">
            <parameter name="browser" value="chrome" />
            <classes>
                <class name="com.dev.tests.tests.RegisterTest" />
                <class name="com.dev.tests.tests.LoginTest" />
            </classes>
        </test>
</suite>
